body{

background:url("images/bg.jpg");

background-size:cover;

color:white;

font-family:sans-serif;

margin:0;

animation:shake 6s infinite;

}

.bg-text{

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);

font-size:120px;

color:rgba(255,0,0,0.05);

font-weight:bold;

}

.eyes{

position:fixed;

top:40%;

left:50%;

transform:translate(-50%,-50%);

width:200px;

animation:glow 2s infinite;

}

@keyframes glow{

0%{opacity:0.5}

50%{opacity:1}

100%{opacity:0.5}

}

@keyframes shake{

0%{transform:translate(0)}

25%{transform:translate(2px,2px)}

50%{transform:translate(-2px,-2px)}

75%{transform:translate(2px,-2px)}

100%{transform:translate(0)}

}

.header{

background:#7a0000;

padding:15px;

text-align:center;

font-size:22px;

}

#chat{

height:70vh;

overflow:auto;

padding:10px;

}

.user{

text-align:right;

background:#004c2f;

margin:6px;

padding:8px;

border-radius:8px;

}

.ai{

text-align:left;

background:#2b0000;

margin:6px;

padding:8px;

border-radius:8px;

}

.inputBox{

position:fixed;

bottom:0;

width:100%;

display:flex;

}

input{

flex:1;

padding:12px;

background:#111;

color:white;

border:none;

}

button{

background:#7a0000;

color:white;

border:none;

padding:12px;

}
